server:
  port: 9004
spring:
  application:
    name: user-service
#  profiles:
#    active: ft1
  redis:
    url: localhost
    password: root123
    database: 0
    port: 6379
  datasource:
    hikari:
      connection-test-query: select 1
      maximum-pool-size: 100
      max-lifetime: 30000
      minimum-idle: 10
    url: jdbc:log4jdbc:mysql://localhost:3306/test?useUnicode=true&characterEncoding=utf8
    username: root
    password: root123
    driver-class-name: net.sf.log4jdbc.DriverSpy
logging:
  config: classpath:log4j2.xml
#暴露端点，这样actuator就可以监控的到健康状况
management:
  endpoints:
    web:
      exposure:
        include: '*'
dubbo:
  application:
    name: user
  registry:
    address: nacos://172.19.152.165:8848
  protocol:
    name: dubbo
  consumer:
    timeout: 100000
mybatis:
  mapper-locations:
    - classpath*:/mapper/*-Mapper.xml
  type-aliases-package: com.fhx.entity